	    #map-info {
			height: 73%;
      width:8%;
      float: left;
	padding:4px;
      text-align: center;
      background-color: #f7f5f7;
      theme:"purple-theme";
		}

.trail {
	   font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			float:top;
			}
.img {
	height:auto;
}
.title{
  font: 13px Palatino, serif;
  color: Black;
  background-color: #edf5f2;
  text-transform: uppercase;
  text-align: center;
  }
.desc {
  width: 90%;
  color: black;
  align:center;
  text-align: left;
  font: 11px Georgia, sans-serif;
  border: none !important;
  border-color: transparent !important;
  padding: 4px;
  margin: auto;
  margin-top:20px;

  }
.staticmaps {
  color: #061147;
  width: 7%;
 font-family:Palatino, serif, Georgia, sans-serif;
  text-align: left;
  font: 10px;
  padding: 3px;
  margin-top: 3px;
  line-height:12px;
  position:absolute;
   
}

